## Procedimiento para Carga de datos en BBDD Postgresql

In [11]:
# Cargar módulos requeridos
import time
import pandas as pd 
from sqlalchemy import create_engine

In [12]:
# Leer archivos .csv
path_green_trip_2019 = 'data/green_tripdata_2019-10.csv'
path_taxi_zone = 'data/taxi_zone_lookup.csv'

df_1 = pd.read_csv(path_green_trip_2019, index_col=False, nrows=100000)
df_2 = pd.read_csv(path_taxi_zone, index_col=False)

In [13]:
df_1.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1.0,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1.0,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1.0,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1.0,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1.0,0.0

In [14]:
df_1.dtypes

VendorID                   int64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID                 int64
PULocationID               int64
DOLocationID               int64
passenger_count            int64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type               int64
trip_type                float64
congestion_surcharge     float64
dtype: object

In [15]:
df_1.lpep_pickup_datetime = pd.to_datetime(df_1.lpep_pickup_datetime)
df_1.lpep_dropoff_datetime = pd.to_datetime(df_1.lpep_dropoff_datetime)

df_1.dtypes

VendorID                          int64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                        int64
PULocationID                      int64
DOLocationID                      int64
passenger_count                   int64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                      int64
trip_type                       float64
congestion_surcharge            float64
dtype: object

In [16]:
engine = create_engine('postgresql://postgres:postgres@192.168.1.200:5433/ny_taxi')
print(pd.io.sql.get_schema(df_1, name = 'green_tripdata_2019_10', con=engine))

CREATE TABLE green_tripdata_2019_10 (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [17]:
df_2.dtypes

LocationID       int64
Borough         object
Zone            object
service_zone    object
dtype: object

In [18]:
df_2.shape

(265, 4)

In [19]:
df_2

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

## Procesamiento y carga de datos en posgresql

In [72]:
df_iter = pd.read_csv(path_green_trip_2019, chunksize=10000)

df = next(df_iter)

df.head(n=0).to_sql(name='green_tripdata_2019_10', con=engine,  if_exists='replace')

0

In [73]:
reg = 0
start = time()

In [74]:
while True: 
    t_start = time()

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_tripdata_2019_10', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))
    reg += 1

    try:
        df = next(df_iter)
        
    except:
        break

end_t = time()

print(f'Finalizada carga de los datos en tiempo de ejecución {end_t - start}')

inserted another chunk, took 12.205 second
inserted another chunk, took 24.293 second
inserted another chunk, took 4.088 second
inserted another chunk, took 3.922 second
inserted another chunk, took 3.898 second
inserted another chunk, took 5.069 second
inserted another chunk, took 4.921 second
inserted another chunk, took 5.376 second
inserted another chunk, took 5.835 second
inserted another chunk, took 5.155 second
inserted another chunk, took 4.934 second
inserted another chunk, took 5.378 second
inserted another chunk, took 5.443 second
inserted another chunk, took 5.275 second
inserted another chunk, took 5.960 second
inserted another chunk, took 5.553 second
inserted another chunk, took 5.713 second
inserted another chunk, took 5.154 second
inserted another chunk, took 5.322 second
inserted another chunk, took 5.613 second
inserted another chunk, took 5.605 second
inserted another chunk, took 5.086 second
inserted another chunk, took 5.712 second
inserted another chunk, took 5.150 second
inserted another chunk, took 6.435 second
inserted another chunk, took 5.188 second
inserted another chunk, took 5.091 second
inserted another chunk, took 5.461 second
inserted another chunk, took 5.885 second
inserted another chunk, took 5.386 second
inserted another chunk, took 5.181 second
inserted another chunk, took 5.946 second
inserted another chunk, took 5.117 second
inserted another chunk, took 4.726 second
inserted another chunk, took 4.964 second
inserted another chunk, took 5.391 second
inserted another chunk, took 5.296 second
inserted another chunk, took 5.618 second
inserted another chunk, took 4.647 second
inserted another chunk, took 4.708 second
inserted another chunk, took 4.159 second
inserted another chunk, took 4.750 second
inserted another chunk, took 4.369 second
inserted another chunk, took 5.179 second
inserted another chunk, took 4.177 second
inserted another chunk, took 4.332 second
inserted another chunk, took 4.212 second
inserted another chunk, took 2.734 second
Finalizada carga de los datos, Registros Ingresados: 48, tiempo de ejecución 278.7212073802948

In [71]:
df_2.to_sql(name='zones', con=engine, if_exists='replace')

265